.well {
    background-color: #f1f1f1;
    padding: 50px;
    max-width: 1000px;
    /* background-color: grey; */
    box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);

}

.titleBlock {
    margin-top:100px;
    font-family: Impact, fantasy;
    font-weight:bold;
    text-align:center;
    text-decoration: wavy;
}

.searchButton {
    display:inline;
    margin-left:15px;
}

.searchBox {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    max-width:700px;
    background-color: white;
    margin-top:30px;
    font-size:20px;
}